body{
	max-width: 60em;
	margin: 0 auto;
  color: white;

	background: #C3CEE8;
  background-image: url("myndir/doom2.jpg");
}
h1{
  text-align: center;
  font-size: 30px;
}


.col-1-2{
	float: left;
	width: 50%;
}
.col-2-3{
	float: left;
	width: 66.666%;
}
.col-1-3{
	float: left;
	width: 33.3333%;
}

 /* Clearfix */
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}